body {
  background-color: #24353f;
  font-family: "Titillium Web", sans-serif;
}

.login-content {
  background-color: #24353f;
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1 {
  color: #17a2b8;
}

input {
  background-color: transparent !important;
  color: white !important;
}

label {
  background-color: transparent !important;
  color: white !important;
}

input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0 transparent !important;
}

input::placeholder {
  color: white !important;
}

.navbar {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

#loginBtn {
  color: #17a2b8;
}

#loginBtn:hover {
  color: white;
}
